<!DOCTYPE html>
<html lang="en">
<head>
    <title>Analyzer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">

        Welcome, {{ user }}!!
        </div>
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">Analyzer</div>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for("uploadFile") }}">Upload File</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for("viewResult") }}">View Result</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for("logout") }}">Logout</a></li>
        </ul>

    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
