<!--AUTH0 was used to provide login functionality. The following code has been taken from
https://auth0.com/docs/quickstart/backend/python.-->

<html>
<div id="root" style="width: 320px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px; box-sizing: border-box;">

</div>
<script src="https://cdn.auth0.com/js/lock/10.4/lock.min.js"></script>
<script>
  var lock = new Auth0Lock('{{env.AUTH0_CLIENT_ID}}', '{{env.AUTH0_DOMAIN}}', {
    container: 'root',
    auth: {
      redirectUrl: '{{env.AUTH0_CALLBACK_URL}}',
      responseType: 'code'
    }
  });
  lock.show();
</script>

</html>
