<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TaskManager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">TaskManager</div>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{{url_for("find_fares")}}">View Fares</a></li>
        </ul>
          {% if session["level"] == "admin" %}
         <ul class="nav navbar-nav">
          <li><a href="{{url_for("add_fares")}}">Add Fares</a></li>
        </ul>
          {% endif %}

      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {{user}}
  </body>
</html>
